Package: com.bd452.upscale
Name: Upscale Beta
Depends: 
Version: 1.0
Architecture: iphoneos-arm
Description: A beta version of upscale which allows saving custom resolutions.
Maintainer: viperusgaming
Author: bd452
Section: Tweaks
